
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.content {
    width: 100%;
    height: 100vh;
    background-size: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #e0e0e0;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Dosis', sans-serif;
    width: 100%;
}



.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.tictactoe {
    width: 100%;
    aspect-ratio: 1  / 1;
}
  

.intro {

    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 30px;


}


.numberOfPlayers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;

}

.btn-primary {
    color: black;
    border: 1PX solid black;
    height: 50px;
    width: 100px;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
}

.btn-primary:hover {
    background-color: rgb(177, 107, 50);
}

.submitNames {
    background-color: hsl(0, 100%, 84%);
}

.submitNames:hover {
    background-color: hsl(0, 54%, 84%);
}

.hidden {
    display: none;
}

.names {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.divSinglePlayer {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.divSinglePlayer form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#singlePlayerName {
    margin: 5% 0px 5% 0px;
    width: 100%;
    height: 30px;
    font-size: 1.5em;
    color: rgb(216, 216, 216);
    text-align: center;
    background: none;
    border: none;
    border-bottom: 3px solid black;
    outline-width: 0;
    transition: transform 0.3s ease-in-out;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}



#singlePlayerName:focus {
    transform: scalex(1.1);
    outline-width: 0;
}

.warning {
    color: red;
    font-size: 1.5em;
}


.divTwoPlayer {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#name1  {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#name2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

label {
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin-top: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.inputNames {
    text-align: center;
    background: none;
    border: none;
    width: 75%;
    border-bottom: 1px solid black;
    transition: transform 0.3s ease-in-out;
    font-family: 'Dosis', sans-serif;
}

.inputNames:focus {
    width: 85%;
}
.info-text {
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
}
.btn-holder {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.back-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}






.game {
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#game-title {
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
}

.gameboard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

.board {
    height: 65%;
    width: 85%;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    font-size: 4em;
}

.top-row {
    min-height: 33%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.middle-row {
    min-height: 33%;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 3px black solid;
}

.bottom-row {
    min-height: 33%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 3px black solid;
}

.left {

    width: 33%;
    border-right: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middle {

    width: 33%;
    border-right: 2px black solid;
    border-left: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {

    width: 33%;
    border-left: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




#endGame {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    flex-grow: 1;
    background-color: grey;
    opacity: 0.9;
}

#winner {
    color: black;
    font-size: 3em;
    text-align: center;
}


#endGame-txt {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}

#endGame-controls {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    
}


#winner {
    font-size: 3em;
    width: 100%;
}

#hint {
    font-size: 1.5em;
}


.endGame-btn:hover {
    background-color: rgb(90, 90, 90);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

@media screen and (min-width: 550px) {
    .board {
        height: 400px;
        width: 450px;

    }
}

@media screen and (min-width: 700px) {

    h1 {
        font-size: 7rem;
    }

    .tictactoe {
        height: 350px;
        width: 500px;
    }


      
}