
html,
body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(24, 24, 24);
}
  
body {
    margin: 0;
    padding: 0;
}

  * {
    box-sizing: border-box;
}
  

.intro {
    background-color: rgb(61, 61, 61);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.numberOfPlayers {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.selectPlayers {
    background-color: rgb(170, 84, 13);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    height: 100px;
    width: 300px;
    border: none;
    margin: auto;
    box-shadow: 0px 0px 10px 3px black;
}

.selectPlayers:hover {
    background-color: rgb(177, 107, 50);
}

.names {
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.divSinglePlayer {
    width: 50%;
    display: block;
}

#singlePlayerName {
    width: 800px;
    background: none;
    border: none;
}

.divTwoPlayer {
    width: 50%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#name1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label {
    margin: 0px 0px 0px 30%;
    text-align: center;
    font-size: 2em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.inputNames {
    margin: 5% 0px 5% 0px;
    width: 80%;
    height: 30px;
    font-size: 1.5em;
    color: white;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 3px solid black;
    outline-width: 0;
    transition: width 0.4s ease-in-out;
}

.inputNames:focus {
    width: 100%;
    outline-width: 0;
}

#submitNames {
    height: 50px;
    width: 150px;
    margin: 5% 0px 0px 40%;
    font-size: 1em;
    background-color: rgb(170, 84, 13);
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0px 0px 5px 3px black;
}

#submitNames:hover {
    background-color: rgb(177, 107, 50);
}

.game {
    display: none;
    background-color: rgb(24, 24, 24);
}

.controls {
    height: 20vh;
}

h1 {
    margin: 100px 0px 0px 0px;
    text-align: center;
    color: white;
    font-size: 3em;
}
.gameboard {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    height: 100%;
    width: 30%;
    color: white;
}

.top-row {
    height: 20vh;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
}

.middle-row {
    height: 20vh;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 3px rgb(255, 255, 255) solid;
}

.bottom-row {
    height: 20vh;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: 3px rgb(255, 255, 255) solid;
}

.left {
    height: 100%;
    width: 33%;
    border-right: 2px rgb(255, 255, 255) solid;
    font-size: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.middle {
    height: 100%;
    width: 33%;
    border-right: 2px rgb(255, 255, 255) solid;
    border-left: 2px rgb(255, 255, 255) solid;
    font-size: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.right {
    height: 100%;
    width: 33%;
    border-left: 2px rgb(255, 255, 255) solid;
    font-size: 150px;
    display: flex;
    justify-content: center;
    text-align: center;
}




#endGame {
    position:  absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 1;
}

#winner {
    color: black;
    font-size: 3em;
}

#endGame-txt {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#endGame-controls {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.endGame-btn{
    height: 150px;
    width: 300px;
    color: white;
    background-color: black;
    font-size: 2em;
    margin: 0px 100px 0px 100px;
}